@import '/src/sass/colors';

.Collections-Component {
    width: 100%;
    flex-direction: column;
    gap: 3vw;
    color: white;
    
    .collections-container {
        background-color: white;
        border-radius: 3vw;
        justify-content: space-between;
        
        font-size: 2.5vw;
        font-weight: bold;
        color: $primary-color;
        padding: 2vw 5vw;
        box-shadow: 0 1vw 2vw 0 rgba(0,0,0,0.4);
    }
}