@import '/src/sass/colors';

button {
    display: flex;
    border-radius: 20vw;
    border: none;
    background-color: $green;
    color: white;
    padding: 5vw;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 5vw;
}