$background-color: white;
$background-secondary-color: #E1E1E1;
$primary-color: #363775;
$green: #34A853;
$pink: #EC0F83;

:export {
    primary: $primary-color;
    background: $background-color;
    background_secondary: $background-secondary-color;
    green: $green;
    pink: $pink;
}