@import '/src/sass/colors';

.FeaturedCategory-Component {
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 3vw;
    color: $primary-color;

    .product-list {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3vw;

        .Product-Component {
            width: 43vw;
            height: 75vw;
            align-items: center;
            gap: 1.5vw;
            color: $primary-color;
            background-color: white;
        }

        .Product-Component:nth-child(2n) {
            margin-top: -10vw;
        }
        
        .skeleton {
            width: 43vw;
            height: 75vw;
        }

        .skeleton:nth-child(2n) {
            margin-top: -10vw;
        }
    }

    .background {
        position: absolute;
        top: -30vw;
        left: -5vw;
        z-index: -1;
        width: 100vw;
    }
}