@import '/src/sass/colors';

.Popular-Component {
    width: 100%;
    flex-direction: column;
    color: $primary-color;
    gap: 3vw;
    
    .products-container {
        gap: 2vw;
        overflow-x: auto;
    }

    .Product-Component {
        border-radius: 1vw;
        box-shadow: 0 2px 3px rgba($color: #000000, $alpha: 0.4);
        flex-shrink: 0;
        width: 40vw;
        height: 50vw;
        background-size: contain;
        background-repeat: no-repeat;
        // background-position: center;
        padding: 0 2vw;
        padding-bottom: 5vw;

        .container {
            justify-content: space-between;
            margin-top: auto;
            background-color: white;
            padding: 3vw;
            border-radius: 2vw;
            box-shadow: 0 2px 3px rgba($color: #000000, $alpha: 0.4);
            align-items: center;
            width: 100%;

            .text {
                flex-direction: column;
                font-size: 3.5vw;
                font-weight: bold;
                gap: 2vw;
                
                .name {
                    white-space: nowrap;
                    width: 20vw;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .cart {
                justify-content: center;
                align-items: center;
                background-color: $primary-color;
                border-radius: 100%;
                width: 7vw;
                height: 7vw;
                padding: 1.5vw;
            }
        }
    }
}